body{
    background-image:url("../background_images/8.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size: cover;
}
.container{
    display: none;
    background-color: rgba(255, 255, 255, 0.4);
    vertical-align:middle;
    margin:0 auto;
    width:70%;
    padding:36px;
    border-radius: 60px;
    line-height: 25px;
}
.container div{
    text-align: center;
}
b{
    color:rgb(0, 0, 0);
    font-size: 25px;
}
.next{
    display: none;
    width:auto;
    text-align: center;
}
button{
    background-color: white;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px;
    border:2px black solid;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    font: normal normal bold 20px comic sans ms;
    width:100px;
    height:50px;
}