<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg4.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>剛拿到駕照的你開開心心的發動心愛的ㄅㄨㄅㄨ，</p>
            <p>怎知道轉彎時沒注意直行方向開來一台瑪莎拉蒂，</p>
            <p>不小心與它發生碰撞...。</p>
            <br>
            <p>雙方雖然都沒受傷，</p>
            <p>但你卻有責任負擔對方所有修車費用...，</p>
            <p>你將這件事交由保險公司處理。</p>
            <br>
            <p>最後保險公司告訴你，</p>
            <p>你有<b>強制險</b>及<b>第三責任險</b>，</p>
            <p>保險公司會出面幫你處理。</p>
            <p>但是萬一對方修車費用太高，</p>
            <p>還是會需要由你負擔，</p>
            <p>全因為你沒有<b>超額責任險</b>。</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/1-1-1.js"></script>
</body>
</html>