<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg4.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>漫無目的走在路上的你，</p>
            <p>本來想找個漂亮的咖啡廳待著，</p>
            <p>卻在過馬路時意外被右轉的汽車撞到...。</p>
            <br>
            <p>雖然只是小傷，但也讓你今天的好心情毀於一旦。</p>
            <br>
            <p>對方的態度放得很低，</p>
            <p>卻也告訴你他無法負擔賠償，</p>
            <p>還好發現他有保<b>強制險</b>及<b>第三責任險</b>，</p>
            <p>才讓這場意外落幕。</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/1-1-2.js"></script>
</body>
</html>