<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/twoImgs_bkg3.css">
</head>
<body>
    <div class="container" id="page2">
        <div>
            <p>勤勞的你想使用哪種交通工具呢？</p>
            <table>
                <tr>
                    <td><img src="../object_images/drive.png" class="drive"></td>
                    <td><img src="../object_images/walk.png" class="walk"></td>
                </tr>
                <tr>
                    <td class="drive"><p>A、開車</p></td>
                    <td class="walk"><p>B、我勤勞我走路</p></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/1-1.js"></script>
</body>
</html>