<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg5.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>和朋友約好要去迪士尼，</p>
            <p>五天四夜的旅程你們玩得十分開心，</p>
            <p>卻在回程時發現因為颱風的關係，</p>
            <p>訂好的飛機停飛了。</p>
            <br>
            <p>原本煩惱著多出來這幾天旅費怎麼辦的你，</p>
            <p>朋友卻告訴你，他規劃了<b>旅行不便險</b>，</p>
            <p>就是為了這種狀況發生。</p>
            <br>
            <p>開心的你決定再去買點伴手禮！</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/1-2-1.js"></script>
</body>
</html>