<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg6.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>在圖書館待上一整天的你，</p>
            <p>感覺自己充滿了書香氣息。</p>
            <br>
            <p>為了使這份充實的感覺持續下去，</p>
            <p>你決定回家後要洗衣服。</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/1-2-2.js"></script>
</body>
</html>