<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/twoImgs_bkg3.css">
</head>
<body>
    <div class="container" id="page2">
        <div>
            <p>你想出去玩的地點在...？</p>
            <table>
                <tr>
                    <td><img src="../object_images/entertainment.png" class="entertainment"></td>
                    <td><img src="../object_images/library.png" class="library"></td>
                </tr>
                <tr>
                    <td class="entertainment"><p>A、遊樂園</p></td>
                    <td class="library"><p>B、圖書館</p></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/1-2.js"></script>
</body>
</html>