<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/twoImgs_bkg3.css">
</head>
<body>
    <div class="container" id="page2">
        <div>
            <p>天氣這麼好，出門會更好。踏出門的你決定...？</p>
            <table>
                <tr>
                    <td><img src="../object_images/work.png" id="work"></td>
                    <td><img src="../object_images/play.png" id="play"></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/1.js"></script>
</body>
</html>