<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg8.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>媽媽在你小時候以你為被保險人買了一張<b>壽險</b>，</p>
            <p>你笑他別被那些業務的爛話術騙了白白浪費錢，</p>
            <p>卻未可知十幾年後的現在，</p>
            <p>這筆錢是你留給她唯二的東西...。</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/2-1-4sequel.js"></script>
</body>
</html>