<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg8.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>只想睡個回籠覺的你卻意外碰上大地震，</p>
            <p>為了拯救另一伴而遲了一步逃出...。</p>
            <br>
            <p>你在10年前誤打誤撞買的<b>意外險</b>支撐了父母及伴侶，</p>
            <p>陪伴他們度過了最艱難的那段日子。</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/2-1-1.js"></script>
</body>
</html>