<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg8.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>躺在床上的你恍惚間聽到了家中汪汪的拆家聲，</p>
            <p>嚇得你急忙下床，</p>
            <p>就在此時地牛翻身了，</p>
            <p>你在慌亂間帶著汪汪逃出家門......</p>
            <br>
            <p>驚魂未定的你緩緩牽起汪汪走回家，</p>
            <p>到家卻發現家中因地震而一片狼藉，</p>
            <p>牆上還出現了一道裂痕。</p>
            <br>
            <p>還好你在買屋時順帶購買了<b>地震險</b>，</p>
            <p>為這次的意外降低了不少損失。</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/2-1-3.js"></script>
</body>
</html>