<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg9.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>到房間看到伴侶還在睡，你靜靜地躺在他身邊，</p>
            <p>他轉身一把抱住你，而你也輕輕地墜入夢鄉。</p>
            <br>
            <p>朦朧間聞到燒焦味，</p>
            <p>嚇得你一個起身衝進廚房，</p>
            <p>才發現廚房已經起火...。</p>
            <br>
            <p>幸好沒有任何傷亡，</p>
            <p>修繕廚房的花費也因為你提前買的<b>火災險</b>而減輕許多。</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/2-2-2-1.js"></script>
</body>
</html>