<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/twoImgs_bkg9.css">
</head>
<body>
    <div class="container" id="page2">
        <div>
            <p>好多好多的早餐在這裡，你今天最想要吃哪個呢？</p>
            <table>
                <tr>
                    <td><img src="../object_images/eggroll.png" id="eggroll"></td>
                    <td><img src="../object_images/rice.png" id="rice"></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/2-2.js"></script>
</body>
</html>