<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg11.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>醫生說只有輕微嗆到和壓傷，</p>
            <p>住院觀察幾天應該就沒事了。</p>
            <br>
            <p>幸虧你平常就有儲蓄的習慣，</p>
            <p>也考慮到寵物沒有健保而為牠準備，</p>
            <p>才不至於讓這個月的規劃泡湯。</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/2-3-1-1sequel.js"></script>
</body>
</html>