<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg10.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>你正拿著掃把認真掃地時，</p>
            <p>寵物突然給你一個飛撲！</p>
            <br>
            <p>躺在地上的你無奈地與牠大眼瞪小眼。</p>
            <br>
            <p>腳扭傷了對工作很不方便，</p>
            <p>也必須與公司請假去看醫生，</p>
            <p>這些損失還好有<b>傷害險</b>，</p>
            <p>不過這個月給寵物的零食費通通都要換成珍奶！</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/2-3-2-1.js"></script>
</body>
</html>