<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg10.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>掃完地的你突然覺得好累，</p>
            <p>難得的放假，</p>
            <p>不如回床上補個眠吧！</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/2-3-2-2.js"></script>
</body>
</html>