<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg10.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>把衣服丟下去洗的你，</p>
            <p>站在陽台閉著眼享受陽光的洗禮，</p>
            <p>卻忽然聽到奇怪的喀喀聲，</p>
            <p>好像是什麼東西運轉的不順暢。</p>
            <br>
            <p>當你仔細一聽發現洗衣機的聲音變小了，</p>
            <p>突然腳下一涼，</p>
            <p>低頭一看滿地都是泡泡，大量的水淹到房間...。</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/2-3-1-2.js"></script>
</body>
</html>