<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg10.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>好一番整理後，</p>
            <p>發現你的電腦主機、冰箱都泡水故障，</p>
            <p>經過調查後發現是洗衣機生產不當所導致。</p>
            <br>
            <p>洗衣機廠商以<b>產品責任險</b>全額負責你的損失，</p>
            <p>並送了你一台掃地機器人作為補償，</p>
            <p>事件才圓滿落幕。</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/2-3-1-2sequel.js"></script>
</body>
</html>