<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/bkg10.css">
</head>
<body>
    <div class="container" id="page10">
        <div>
            <p>剛把衣服丟到洗衣機的你，</p>
            <p>卻發現寵物怎麼不見了？！</p>
            <br>
            <p>在你尋找的過程中，隱隱約約聽到他的叫聲...，</p>
            <p>怎麼好像，來自洗衣機！</p>
            <br>
            <p>你連忙衝過去，幸好還在放水的階段。</p>
            <br>
            <p>你決定還是帶牠到寵物醫院看看。</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/2-3-1-1.js"></script>
</body>
</html>