<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/twoImgs_bkg10.css">
</head>
<body>
    <div class="container" id="page2">
        <div>
            <p>看著一團亂的家，你決定要先...？</p>
            <table>
                <tr>
                    <td><img src="../object_images/wash_clothes.png" class="wash_clothes"></td>
                    <td><img src="../object_images/sweep.png" class="sweep"></td>
                </tr>
                <tr>
                    <td class="wash_clothes"><p>A、洗衣服</p></td>
                    <td class="sweep"><p>B、掃地</p></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/2-3.js"></script>
</body>
</html>