<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/threeImgs_bkg7.css">
</head>
<body>
    <div class="container" id="page2">
        <div>
            <p>天氣這麼好，待在家給太陽曬。</p>
            <p>躺在床上的你決定要...？</p>
            <table>
                <tr>
                    <td><img src="../object_images/sleep.png" id="sleep"></td>
                    <td><img src="../object_images/cook.png" id="cook"></td>
                    <td><img src="../object_images/housework.png" id="housework"></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/2.js"></script>
</body>
</html>