<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/end2.css">
</head>
<body>
    <div class="container" id="page1">
        <p id="p1">那些保險到底是什麼呢？</p>
        <p id="p2">現實中真的需要那些保險嗎？</p>
        <p id="p3">如果真的出事我能得到什麼？</p>
        <p id="p4">保險那麼複雜，哪一個才是最適合我的？</p>
        <p id="p5">那麼多保險業務員，我又該相信誰呢？</p>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/end1-1.js"></script>
</body>
</html>