<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/end1.css">
</head>
<body>
    <div class="container" id="page1">
        <div>
            <p>睜開眼，摸摸身旁的空位，</p>
            <p>果然還是沒有另一伴，</p>
            <p>原來都是一場夢。</p>
            <br>
            <p>外頭車水馬龍的聲音和安靜的房間形成強烈的對比，</p>
            <p>讓你回想起剛剛的夢，</p>
            <p>不由得說了一聲：</p>
            <p><b>「幸好那時候有保險，但......</b></p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/end1.js"></script>
</body>
</html>