<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/end2.css">
</head>
<body>
    <div class="container" id="page1">
        <div>
            <p>如果您有這些疑問，</p>
            <p>歡迎加入我們！</p>
            <br>
            <p>我們不賣保險，</p>
            <p>只是想提供您一個安心的平台，</p>
            <p>讓保險這個工具能被更多人善用。</p>
        </div>
    </div>
    <div class="btn">
        <button id="restart">Restart</button>
        <button id="link">前往<a href="#">保你知</a></button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/end1-6.js"></script>
</body>
</html>