<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/end1.css">
</head>
<body>
    <div class="container" id="page1">
        <div>
            <p>那些保險到底是什麼呢？</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/end1-1.js"></script>
</body>
</html>