<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/twoImgs_bkg2.css">
</head>
<body>
    <div class="container" id="firstday">
        <div>
            <p>風和日麗的日子，一早起床的你決定...？</p>
            <table>
                <tr>
                    <td><img src="../object_images/outdoor.png" class="outdoor"></td>
                    <td><img src="../object_images/home.png" class="home"></td>
                </tr>
                <tr>
                    <td class="outdoor"><p>A、出門</p></td>
                    <td class="home"><p>B、待在家</p></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/firstday.js"></script>
</body>
</html>