<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/page1.css">
</head>
<body>
    <div class="container" id="page1">
        <div>
            <p>歡迎來到新的一天！！！</p>
            <p>首先，</p>
            <p>我們先來做點小設定...</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/makeSet.js"></script>
</body>
</html>