<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/twoImgs_bkg1.css">
</head>
<body>
    <div class="container" id="page2">
        <div>
            <p>您的性別為？</p>
            <table>
                <tr>
                    <td><img src="../object_images/male.png" id="male"></td>
                    <td><img src="../object_images/female.png" id="female"></td>
                    <td><img src="../object_images/(fe)male.png" id="both"></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/setGender.js"></script>
</body>
</html>