<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/enter_Name.css">
</head>
<body>
    <div class="container" id="page3">
        <div>
            <input type="text" placeholder="您的名字" id="name">
            <button id="ok">確認</button>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/setName.js"></script>
</body>
</html>