<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/twoImgs_bkg1.css">
</head>
<body>
    <div class="container" id="page2">
        <div>
            <p>您是否有伴侶？</p>
            <table>
                <tr>
                    <td><img src="../object_images/couple.png" class="couple"></td>
                    <td><img src="../object_images/single.png" class="single"></td>
                </tr>
                <tr>
                    <td class="couple"><p>A、是</p></td>
                    <td class="single"><p>B、否</p></td>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/setRelationship.js"></script>
</body>
</html>