<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保險遊戲</title>
    <link rel="stylesheet" href="../css/page1.css">
</head>
<body>
    <div class="container" id="toStart">
        <div>
            <p><u id="gamesName"></u>您好：</p>
            <p>恭喜您完成設定，</p>
            <p>遊戲開始！</p>
        </div>
    </div>
    <div class="next">
        <button>Next</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/toStart.js"></script>
</body>
</html>